* {
  margin: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
}
.modules-left,
.modules-center,
.modules-right {
  background-color: @theme_bg_color;
  border-radius: 5px;
  padding: 5px;
}

#custom-logo,
#custom-separator,
#custom-powermenu,
#window,
#workspaces,
#network,
#pulseaudio,
#tray,
#clock {
  padding: 0 5px;
}

#workspaces button {
  padding: 0 .3em;
}
#workspaces button.active {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

#custom-powermenu {
  font-size: 20px;
  color: #e78284;
}

#custom-logo {
  color: #99d1db;
}

